<!--thanks to https://codepen.io/uiswarup/pen/XWdXGGV for tempalte-->

<link rel='stylesheet' href='../static/css/error.css'>
<header class="top-header">
  </header>
  <div>
    <div class="starsec"></div>
    <div class="starthird"></div>
    <div class="starfourth"></div>
    <div class="starfifth"></div>
  </div>
  <div class="lamp__wrap">
    <div class="lamp">
      <div class="cable"></div>
      <div class="cover"></div>
      <div class="in-cover">
        <div class="bulb"></div>
      </div>
      <div class="light"></div>
    </div>
  </div>
  <!-- END Lamp -->
  <section class="error">
    <!-- Content -->
    <div class="error__content">
      <div class="error__message message">
        <h1 class="message__title">{{ error_code }}</h1>
        <p class="message__text">{{ error_details }}</p>
      </div>
      <div class="error__nav e-nav">
        <a href="/" target="_blanck" class="e-nav__link"></a>
      </div>
    </div>
  </section>
  
    </a>